:root {
  --menu-width: 200px;
  --text-color: black;
}

body {
  font-size: 1.3rem;
}

nav {
    float: left;
    width: var(--menu-width);
    height: 100%;
}

li {
  list-style-type: none;
  padding: 20px 0;
}

a {
  border-bottom: thin solid;
  color: rgb(0,0,192);
  font-weight: bolder;
  text-decoration: none;
}
a:visited {
  color: rgb(160,0,160);
}
a:active {
  color: rgb(192,0,0);
}
a:active, a:focus, a:hover {
  border-bottom-width: medium;
}

div {
    float: right;
    width: calc(100% - var(--menu-width));
}

img {
  max-width: 300px;
}

main:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 768px) {
  nav {
    width:100%;
    float: none;
  }
  div {
    width:100%;
    float: none;
  }
}
